<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964092543038-r3utr45ochl41qfau18mhfvg85obk577.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964092543038-r3utr45ochl41qfau18mhfvg85obk577</string>
	<key>API_KEY</key>
	<string>AIzaSyBJmmVG6o2BJ0BX0m5vCwLuq2p4dBq5sKM</string>
	<key>GCM_SENDER_ID</key>
	<string>964092543038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arunbalaji.signalChat</string>
	<key>PROJECT_ID</key>
	<string>nsic-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nsic-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964092543038:ios:ae583554abcb7ab8f4116f</string>
</dict>
</plist>